<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title"><b>RESUME</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  
<!-- NAme tag -->

<ion-card>
  <ion-card-header>
    <ion-card-title><b>ANKITA SHEJAL</b></ion-card-title>

    <ion-card-subtitle>Social Media Coordinator at IIC Sardar Patel Institute of Technology.<br>Mumbai, Maharashtra, India.</ion-card-subtitle>
    <ion-card-subtitle></ion-card-subtitle>
    
  </ion-card-header>
  
  <ion-card-content style="font-size: 15px;">
    Highly responsible and motivated team player,dedicated to delivering optimal performance through strong work ethic and solution-oriented approach.
  </ion-card-content>
  <ion-grid [fixed]="true" class="logo-grid">
    <ion-row>
      <!-- Column 1 with LinkedIn icon -->
      <ion-col size="4">
        <a href="www.linkedin.com/in/ankitashejal-1710a7222"><ion-icon
            name="logo-linkedin" id="linkedin" size="large" color="dark" ></ion-icon></a>
      </ion-col>
      <!-- Column 2 with GitHub icon -->
      <ion-col size="4">
        <a href="https://github.com/Ankitashejal"><ion-icon name="logo-github" color="dark" size="large"></ion-icon></a>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-card>
<br>

<!-- EDUCATION -->
<ion-title><b>EDUCATION </b></ion-title>
<ion-card>
  <ion-card-header>
    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.collegepravesh.com/2018/11/SPIT-Mumbai-Logo.png" alt="Logo" />
        </ion-thumbnail>
        <ion-label>Masters in Computer Applications</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://courses.ind.in/img/b/download-logo-of-pune-university.png" alt="Logo" />
        </ion-thumbnail>
        <ion-label>Bachelors in Computer Science</ion-label>
        
      </ion-item>

      
    </ion-list>
  </ion-card-content>
</ion-card>
<br>

<!-- SKIILS -->
<!-- <ion-title><b>TECHNICAL SKILLS</b></ion-title> -->
<ion-card>
  <ion-card-header style="border: 2px solid #eef2f3;background-color: rgb(246, 249, 249)">
  <ion-card-title style="font-weight: bold;">TECHNICAL SKILLS</ion-card-title>
  </ion-card-header>
  <br>
  <ion-card-content>
  <ion-list>
  <ion-item  style="background-color: #0e2c33;">
  <ion-thumbnail slot="start" >
  <img alt="Java"
  src="https://cdn-icons-png.flaticon.com/512/152/152760.png" />
  </ion-thumbnail>
  <ion-label>Java</ion-label>
  </ion-item>
  <ion-item  style="background-color: #0e2c33;">
  <ion-thumbnail slot="start">
  <img alt="Angular"
  src="https://static-00.iconduck.com/assets.00/angular-icon-1931x2048-bef1f3lm.png" />
  </ion-thumbnail>
  <ion-label>Angular</ion-label>
  </ion-item>
  <ion-item lines="none"  style="background-color: #0e2c33;">
  <ion-thumbnail slot="start">
  <img alt="JavaScript"
  src="https://w7.pngwing.com/pngs/640/199/png-transparent-javascript-logo-html-javascript-logo-angle-text-rectangle-thumbnail.png" />
  </ion-thumbnail>
  <ion-label>JavaScript</ion-label>
  </ion-item>

  <ion-item  style="background-color: #0e2c33;">
  <ion-thumbnail slot="start">
  <img alt="MySQL"
  src="https://w7.pngwing.com/pngs/384/848/png-transparent-mysql-php-database-javascript-ajax-carnifex-blue-text-logo-thumbnail.png" />
  </ion-thumbnail>
  <ion-label>MySQL</ion-label>
  </ion-item>
  </ion-list>
  </ion-card-content>
  </ion-card>
<br>
<!-- PROJECTS -->
<ion-title><b>PROJECTS</b></ion-title>
<ion-card>
  <ion-card-header>
    <ion-card-title>MOVIE TICKET MANAGEMENT SYSTEM</ion-card-title>
    <ion-card-subtitle>Tech Stack : JAVA at frontend and SQL at backend.</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    A web-based platform for convenient booking of movie tickets. It provides a user-friendly interface for the user to book tickets and also provides an admin panel for the admin to manage the website.
  </ion-card-content>
</ion-card>

<!-- mini projects -->
<ion-card>
  <ion-card-header>
    <ion-card-title>MINI PROJECTS</ion-card-title>
    <ion-card-subtitle>1. NFT WEBSITE</ion-card-subtitle>
    <ion-card-content>Tech Stack : HTML,CSS & JS <br>unlock the world of unique digital assets on our NFT marketplace</ion-card-content>
    <ion-card-subtitle>2. TRAVEL-BEE</ion-card-subtitle>
    <ion-card-content> Tech Stack : HTML,CS & ANGULAR.JS <br>Explore the world with travel-bee services ,delivering memorable experencies and hassle-free adventures</ion-card-content>
  </ion-card-header>
</ion-card>
<br>
<!-- CERTIFICATIONS -->
<ion-title><b>CERTIFICATIONS</b></ion-title>
<ion-card color="primary">
  <ion-card-header>
    <ion-card-title>ApnaCollege-DSA</ion-card-title>
  </ion-card-header>
</ion-card>
<ion-card color="dark">
  <ion-card-header>
    <ion-card-title>Hackerrank : SQL(BASIC)</ion-card-title>
  </ion-card-header>
  <ion-thumbnail slot="start">
    <img alt="Hackerrank"
    src="https://www.bing.com/images/search?view=detailV2&ccid=LfNruQuI&id=5345AD664F9BE45D7BE4FD3D76E7A57E2C88F599&thid=OIP.LfNruQuINgN63XQ_I5rmcgHaHa&mediaurl=https%3a%2f%2fcdn3.iconfinder.com%2fdata%2ficons%2flogos-and-brands-adobe%2f512%2f160_Hackerrank-1024.png&exph=1024&expw=1024&q=hackerrank+logo&simid=607989248888608982&FORM=IRPRST&ck=093058BB0EB95F7782A50FBF98504D72&selectedIndex=0&itb=1&idpp=overlayview&ajaxhist=0&ajaxserp=0" />
    </ion-thumbnail>
</ion-card>


  
</ion-content>
<div id="container">
 
    <p><a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components"></a></p>
  </div>


